.container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.wrapper{
    width: 100%;
    max-width: 1024px;
    
}

.searchBar{
    width: 100%;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

@keyframes fade {
    from {
        border-color: var(--border-color);
    }
    to {
        border-color: var(--primary-color);
    }
}
    

.searchPlace{
    border: 1px solid var(--border-color);
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px 20px;
    border-radius: 20px;
    flex: 1;
    color: var(--text-color)
}

.searchPlace input{
    border: none;
    flex: 1;
    outline: none;
}

.searchPlace input:active{
    border: none;
}

.searchPlace:hover{
    animation: fade 0.3s ease-in-out forwards;
}

.searchExchange{
    font-size: 8px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: var(--primary-color); */
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--border-color);
    transform: scale(2);
    background-color: white;
}

.searchExchange:hover{
    animation: fade 0.3s ease-in-out forwards;
    cursor: pointer;
}