.slick-arrow{
    background-color: aqua;
}

.slick-prev{
    z-index: 10;
    left: -21px !important;
    transform: translate(0, -100%) !important;
    color: white !important;
}

.slick-next{
    right: -5px !important;
    transform: translate(0, -100%) !important;
    color: white !important;
}

.slick-prev:before, .slick-next:before{
    content: '→';
    font-family: 'slick';
    font-size: 40px !important;
    line-height: 1;
    color: #4fc6ed !important;
}