.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    box-shadow: 0 2px 3px #ccc;
  }
  
.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.billDialog{
    
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 2;
}

.billForm{
    border: 1px solid #000;
    margin: 10px;
    color: green;
    text-align: center;
    padding: 10px;
}

.companyInfor{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.companyInfor div{

}

.companyInfor div:first-child{
  flex: 1
}

.companyInfor div:last-child{
  flex: 2
}

.rowInfor{
  margin: 2px 0;
  display: flex;
  align-items: center;
  font-size: 15px;
}


.billDate{
  flex: 1;
  font-size: 15px;
}

.closeBtn{
  /* width: 40px; */
  display: flex;
  align-items: center;
  height: 40px;
  

}