.tabStyle {

}

.tabStyle .react-tabs__tab-list{
    width: 60%;
    margin: 0 auto 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
    list-style: none;
    gap: 30px;
}

.tabStyle .react-tabs__tab{
    text-align: center;
    flex: 1;
    padding: 10px 0;
    border-bottom: 2px solid white;
    cursor: pointer;
}

.tabStyle .react-tabs__tab--selected {
    border-color: var(--primary-color)
  }

.tabMobileStyle{

}

.tabMobileStyle .tabListContainer{
    width: 100%;
    overflow-x: auto;
}

.tabMobileStyle .react-tabs__tab-list{
    width: max-content;
    /* max-width: 100%; */
    overflow: auto;
    margin: 0 auto 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
    list-style: none;
    gap: 30px;
}

.tabMobileStyle .react-tabs__tab{
    text-align: center;
    flex: 1;
    padding: 10px 0;
    border-bottom: 2px solid white;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
}

.tabMobileStyle .react-tabs__tab:focus-visible{
    outline: none;
}

.tabMobileStyle .react-tabs__tab--selected {
    border-color: var(--primary-color)
  }

