.navbar{
    height: 50px;
    background-color: #4fc6ed;
    display: flex;
    justify-content: center;

}

.navContainer{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navButton{
    margin-left: 20px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    color: #1f1ce5;
    border-radius: 10px;
    font-weight: 600;
    font-size: 13px;
}

.navButton:hover
{
    border: 1px solid #000;
    box-shadow: 0 0 0 0 3px #ccc;
}

.logo img{
    width: 200px;
}

.langBtn{
    transform: scale(0.7,0.7);
    border-radius: 0;
}

.langBtn:hover{
    background-color: rgb(250, 250, 171);
}