
@media only screen and (min-width: 1000px) {
    /* styles for devices with a minimum screen width of 480px */
 
.homeContainer
{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: relative;
    z-index: 2
}

}


@media only screen and (min-width: 542px) and (max-width: 1000px){
    /* styles for devices with a minimum screen width of 480px */
 
.homeContainer
{
    margin-top: 147px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: relative;
    z-index: 2
}

}

@media only screen and (max-width: 542px){
    /* styles for devices with a minimum screen width of 480px */
 
.homeContainer
{
    margin-top: 257px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: relative;
    z-index: 2
}

}




.homeTitle
{
    width: 1024px;
    text-align: center;
    font-size: 25px;
    color: #0e5f7a;
    text-transform: uppercase;
}

